name: Generate podcast feed
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
      - name: Run Feed Generator
        uses: martinpnairn/podcast-generator@main
        
